.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-align: center;
}

.card-section {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  text-align: center;
  min-height: 756px;
}


/*~~~~~~Media Queries~~~~~~*/
@media screen and (max-width: 1080px) and (min-width: 860px) {
  .card-section {
    grid-template-columns: repeat(4, 1fr);
  }
  
}

@media screen and (max-width: 860px) and (min-width: 700px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}

@media screen and (max-width: 700px) and (min-width: 424px){
  .card-section {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 424px) {
  .card-section {
    grid-template-columns: repeat(2, 150px);
    width: 95%;
  }
}