.card {
  background-color: #32383E;
  text-decoration: none;
  color: white;
  height: 280px;
}

.card-img {
  width: 100%;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.card-title {
  text-align: start;
  margin-left: 12px;
}

.card-descrip {
  margin: 12px;
}

.card-descrip,
.card-genre {
  color: #B0B0B0
}

.card-genre {
  text-align: end;
  margin-right: 8px;
}
