.card {
  margin-top: 25%;
  text-align: center;
}

.card-body {
  height: 100%;
}
.card-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: column;
}